html{
    font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.main-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    justify-content: flex-end;
}
.have-acc{
    justify-content: flex-end;
}
.signup-btn {
    justify-content: flex-end;
    font-size: 10px;
    position: relative;
    top: 25px;
    height: 34px;
    background-color: #0077C5;
    color: white;
    border-radius: 3px;
    width: 80px;
    border: 0;
}
.info1{
    font-size: 13px;
    padding-right: 25px;
}

body {
    background-color: #ECEEF1;
    justify-content: center;
}

.widget{
    display: block;
}

.signup-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 2px;
    border: 1px solid #c7c7c7; 
    height:450px;
    width: 300px;
    background-color: white;
}

fieldset{
    border: 0;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}
.info label{
    display: block;
}
input{
    margin-top: 10px;
}

.input-info{
    display: block;
}
.more-info{
    list-style: none;
}
.more-info li{
    display: inline-block;
}
.low-info{
    font-size: 12px;
    color: gray;
    font-style: italic;
}